In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('advertising.csv')
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
Daily Time Spent on Site    1000 non-null float64
Age                         1000 non-null int64
Area Income                 1000 non-null float64
Daily Internet Usage        1000 non-null float64
Ad Topic Line               1000 non-null object
City                        1000 non-null object
Male                        1000 non-null int64
Country                     1000 non-null object
Timestamp                   1000 non-null object
Clicked on Ad               1000 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [12]:
## Select non numerical categorical column names
df=df.rename(index=str, columns={"Clicked on Ad": "Clicked_on_Ad"})
df=df.rename(index=str, columns={"Ad Topic Line": "Ad_Topic_Line"})

df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad_Topic_Line,City,Male,Country,Timestamp,Clicked_on_Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [13]:
print(df['Clicked_on_Ad' ].value_counts())
print("\n")


df=df.rename(columns={"nClicked_on_Ad": "Clicked_on_Ad"})

1    500
0    500
Name: Clicked_on_Ad, dtype: int64

In [18]:
X = df.drop(['Clicked_on_Ad','Ad_Topic_Line','City', 'Country', 'Timestamp' ],axis=1) ## This is the dependent variable
y=df['Clicked_on_Ad']

print(X)
print(y)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
0                       68.95   35     61833.90                256.09     0
1                       80.23   31     68441.85                193.77     1
2                       69.47   26     59785.94                236.50     0
3                       74.15   29     54806.18                245.89     1
4                       68.37   35     73889.99                225.58     0
5                       59.99   23     59761.56                226.74     1
6                       88.91   33     53852.85                208.36     0
7                       66.00   48     24593.33                131.76     1
8                       74.53   30     68862.00                221.51     1
9                       69.88   20     55642.32                183.82     1
10                      47.64   49     45632.51                122.02     0
11                      83.07   37     62491.01                230.87     1
12                      69.57   48     51636.92                113.12     1
13                      79.52   24     51739.63                214.23     0
14                      42.95   33     30976.00                143.56     0
15                      63.45   23     52182.23                140.64     1
16                      55.39   37     23936.86                129.41     0
17                      82.03   41     71511.08                187.53     0
18                      54.70   36     31087.54                118.39     1
19                      74.58   40     23821.72                135.51     1
20                      77.22   30     64802.33                224.44     1
21                      84.59   35     60015.57                226.54     1
22                      41.49   52     32635.70                164.83     0
23                      87.29   36     61628.72                209.93     1
24                      41.39   41     68962.32                167.22     0
25                      78.74   28     64828.00                204.79     1
26                      48.53   28     38067.08                134.14     1
27                      51.95   52     58295.82                129.23     0
28                      70.20   34     32708.94                119.20     0
29                      76.02   22     46179.97                209.82     0
..                        ...  ...          ...                   ...   ...
970                     40.18   29     50760.23                151.96     0
971                     45.17   48     34418.09                132.07     1
972                     50.48   50     20592.99                162.43     0
973                     80.87   28     63528.80                203.30     0
974                     41.88   40     44217.68                126.11     1
975                     39.87   48     47929.83                139.34     1
976                     61.84   45     46024.29                105.63     1
977                     54.97   31     51900.03                116.38     1
978                     71.40   30     72188.90                166.31     0
979                     70.29   31     56974.51                254.65     1
980                     67.26   57     25682.65                168.41     1
981                     76.58   46     41884.64                258.26     0
982                     54.37   38     72196.29                140.77     0
983                     82.79   32     54429.17                234.81     1
984                     66.47   31     58037.66                256.39     1
985                     72.88   44     64011.26                125.12     0
986                     76.44   28     59967.19                232.68     1
987                     63.37   43     43155.19                105.04     1
988                     89.71   48     51501.38                204.40     1
989                     70.96   31     55187.85                256.40     0
990                     35.79   44     33813.08                165.62     1
991                     38.96   38     36497.22                140.67     1
992                     69.17   40     66193.81                123.62     0
993                     64.20   27     66200.96                227.63     1
994                     43.70   28     63126.96                173.01     0
995                     72.97   30     71384.57                208.58     1
996                     51.30   45     67782.17                134.42     1
997                     51.63   51     42415.72                120.37     1
998                     55.55   19     41920.79                187.95     0
999                     45.01   26     29875.80                178.35     0

[1000 rows x 5 columns]
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      0
9      0
10     1
11     0
12     1
13     0
14     1
15     1
16     1
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     1
28     1
29     0
      ..
970    1
971    1
972    1
973    0
974    1
975    1
976    1
977    1
978    0
979    0
980    1
981    0
982    1
983    0
984    0
985    1
986    0
987    1
988    0
989    0
990    1
991    1
992    1
993    0
994    1
995    1
996    1
997    1
998    0
999    1
Name: Clicked_on_Ad, Length: 1000, dtype: int64

In [19]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

classifier.fit(X_train,y_train)
predictions = classifier.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[149  15]
 [  7 129]]
             precision    recall  f1-score   support

          0       0.96      0.91      0.93       164
          1       0.90      0.95      0.92       136

avg / total       0.93      0.93      0.93       300

In [20]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=25) ## Hyperparameter
classifier.fit(X_train,y_train)
predictions = classifier.predict(X_test)


from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

from sklearn.model_selection import cross_val_score 

accuracies_rf= cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10) 
accuracies_rf_mean=accuracies_rf.mean()*100
print("Mean Accuracy:Random Forest=",accuracies_rf_mean)

accuracies_rf_std=accuracies_rf.std()*100
print("Standard Deviation:Random Forest=",accuracies_rf_std)

C:\Users\sudip\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

[[151  13]
 [  7 129]]
             precision    recall  f1-score   support

          0       0.96      0.92      0.94       164
          1       0.91      0.95      0.93       136

avg / total       0.93      0.93      0.93       300

Mean Accuracy:Random Forest= 96.4279882191701
Standard Deviation:Random Forest= 2.138536131934675

In [21]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
predictions = classifier.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

from sklearn.model_selection import cross_val_score 

accuracies_logistic= cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10) 
accuracies_logistic_mean=accuracies_logistic.mean()*100
print("Mean Accuracy:Random Forest=",accuracies_logistic_mean)

accuracies_logistic_std=accuracies_logistic.std()*100
print("Standard Deviation:Random Forest=",accuracies_logistic_std)

[[156   8]
 [  4 132]]
             precision    recall  f1-score   support

          0       0.97      0.95      0.96       164
          1       0.94      0.97      0.96       136

avg / total       0.96      0.96      0.96       300

Mean Accuracy:Random Forest= 96.4279882191701
Standard Deviation:Random Forest= 2.1438679912040324